[2015-07-01 16:14] almet opened #2 "Add python 3 support"

[2015-08-29 21:59] Natim opened #5 "Creating a Bucket shouldn't try to request its data."
``Bucket.permissions`` and ``Bucket.data`` should be lazy and requested when ask only.

There are cases where the user can access the collection data but has no right to fetch the bucket.

[2015-08-30 10:05] ametaireau commented on #5
You can pass `load=False` for such case. Isn't it enough?

[2015-08-31 13:19] Natim commented on #5
Yes load=False works, but I wonder if it shouldn't be the default.
Also get_collection() doesn't support the load parameter.

[2015-11-10 20:32] leplatrem opened #15 "requests installation error on fresh clone"
[code]

Re-run and error was gone.

[2015-11-17 14:58] Natim opened #18 "Batch should handle the batch_max_requests public settings and paginate if needed."

[2015-11-18 14:13] Natim commented on #2
This is mandatory for xml2kinto: https://travis-ci.org/mozilla-services/xml2kinto/jobs/91822169

[2015-11-18 16:00] Natim commented on #2
See https://github.com/Kinto/kinto.py/pull/22

[2015-11-30 08:59] Natim opened #25 "Handle local storage"
We need to think of a way to sync a kinto collection locally using kinto.py

[2015-11-30 10:51] almet commented on #25
Yes! Instead of a cache, it should be a store, like what's provided by kinto.js.

[2015-12-03 13:45] almet opened #29 "Rename the last_modified field to if_match."
Different things to do:

- [x] the if_match value should be checked and not quoted twice (see utils.quote);
- [ ] All the last_modified fields should be renamed;

[2015-12-08 21:54] #18 closed

[2016-01-13 17:52] Natim opened #32 "kinto-client 2.0.0 has print"
[code]

We should release a 2.0.1 with the fix.

[2016-01-14 15:46] Natim opened #33 "kinto lowercase and slugify collection_name and bucket_name"
Trying to create a ``/buckets/loopClient/collections/en-US`` collection with kinto.py will create ``/buckets/loopclient/collections/en-us`

[2016-01-14 15:47] Natim commented on #33
I believe we should use slugify only if the given bucket_name and collection_name doesn't fit the kinto ID format.

[2016-01-22 11:31] leplatrem opened #35 "Too many dependencies"
Ideally it should just be «requests» :) PyFxa and request-hawk pull too much stuff and are probably out of scope

[2016-01-22 13:00] leplatrem opened #36 "Add logging"
Default would be error for example, but adding debug output would help a lot sometimes

[2016-01-22 13:01] leplatrem opened #37 "Document client batch"
See usage in `test_client.py`

[2016-01-22 13:07] leplatrem opened #38 "Batch should fail early"
Currently the error is raised once every batch is executed.

I am importing 10000 records, it represents 400 `POST /batch` requests. If the first one fails (e.g. wrong id format in some record), I don't want the next 399 requests to be executed.

In other words, the status of the responses should occur in the batch object instead of the client.

Thoughts?

[2016-01-22 13:26] Natim commented on #38
Why do you want to stop that early?

[2016-01-22 13:26] Natim commented on #38
Because of the transactions?

[2016-01-22 13:27] leplatrem opened #39 "Retry option for batch"
When a 503 is received (high load, throttling), I loose the context of my batch and it is very hard to resume.

For example here records [comes from here](https://github.com/leplatrem/guessign/tree/498f5c984188cb8169b30018d3144889096f97d9/data) and contains 10000 entries.

[code]

I am thinking of a `retry` option, that would read the `retry-after` header and try again.

[2016-01-22 13:29] leplatrem commented on #38
I don't think it is early, it could just fail on the first batch request

[2016-01-26 13:20] almet commented on #39
What would the client do in the meantime? Are you thinking about a `sleep` in the code before trying again?

[2016-01-26 13:20] almet commented on #38
+1 for failing early rather than sending all the batch requests. That's silly.

[2016-01-27 10:45] almet opened #40 "Change the signature of update_collection / update_record"
They currently take the id of the collection / record as the first argument, whereas the data is the second one.

I've found myself in a bunch of situations where I was passing a dict as the first argument. We should either consider changing the signature to have the data as the first argument or issue a warning if the id is a python dict.

[2016-01-27 10:46] Natim commented on #40
I would be in favour of the former.

[2016-01-28 17:23] Natim opened #41 "Refactor the importer to split setup_remote_client and configure_remote_client"
Today we handle bucket and collection creation only if the remote_client is created.

The bucket creation and collection creation may be done even if the remote_client is already created or passed along.

[2016-01-28 17:25] Natim opened #42 "Add a create if not exist method."
Today create if not exist is handled that way:

[code]

It could be handled like that:

[code]

[2016-02-02 11:32] almet commented on #42
`get_or_create` is another option.

[2016-02-02 14:34] almet commented on #32
[Fixed](https://github.com/Kinto/kinto.py/blob/master/kinto_client/__init__.py#L151-L163).

[2016-02-02 14:34] #32 closed

[2016-02-02 14:35] almet commented on #15
I wasn't able to reproduce again. Closing for now. Feel free to reopen if you still encounter this problem.

[2016-02-02 14:35] #15 closed

[2016-02-02 14:41] #35 closed

[2016-02-02 14:42] leplatrem commented on #2
The tests run successfully with python 3.4 on TravisCI. Closing!

[2016-02-02 14:42] #2 closed

[2016-02-02 14:50] almet opened #45 "Use the "default" bucket by default."

[2016-02-02 14:51] almet opened #46 "Handle create_collection 403s"
We should raise an exception when create_collection returns a 403, asking the user "Are you sure the bucket exists?".

[2016-02-02 16:52] #40 closed

[2016-02-03 11:32] #37 closed

[2016-02-03 17:15] #42 closed

[2016-02-03 17:15] #45 closed

[2016-02-05 09:26] leplatrem opened #52 "Rename Batch class to BatchSession"
Since it is actually used as such: https://github.com/Kinto/kinto.py/blob/master/kinto_client/__init__.py#L153

[2016-02-05 11:51] leplatrem opened #53 "Honour backoff header"
Check its presence and present a clear message to user.

[2016-02-05 11:51] leplatrem opened #54 "Honour deprecation headers"
Detect their presence and present a clear message to users

[2016-02-08 09:08] leplatrem opened #55 "Add missing methods"
* [ ] `get_buckets()`
* [ ] `patch_bucket()`
* [ ] `delete_buckets()`
* [ ] `delete_collections(bucket=None)`
* [ ] `delete_records(bucket=None, collection=None)`

[2016-02-09 14:20] #38 closed

[2016-02-10 12:16] #39 closed

[2016-02-11 16:01] Natim opened #60 "_get_endpoint should be part of the public."
Working with Kinto.py and Kinto-Attachment in order for the upload scripts we ended up using client._get_endpoint('record', record_id)

- [ ] Rename ``_get_endpoint`` to ``get_endpoint``
- [ ] Change parameter order so that bucket and collection can stay optional while id is mandatory.

**Dream code**

``
client._get_endpoint('bucket', bucket_id)
client._get_endpoint('collection', collection_id)
c

[2016-02-12 16:05] almet commented on #60
Why would id be mandatory?

[2016-02-12 16:09] Natim commented on #60
Good question, maybe not but it should raise in case we don't have a default value for it.

For instance if ``self.bucket_id`` is defined, then we should be able to do  ``client.get_endpoint('bucket')`` but if it is not defined, it should be mandatory.

[2016-02-12 16:12] almet commented on #60
Actually, the implementation of Endpoints already provide this check, see https://github.com/Kinto/kinto.py/blob/master/kinto_client/__init__.py#L49-L55.

[2016-02-12 16:13] almet commented on #60
For the `get_endpoint` method, it's probably better to have all the parameters named.

[2016-02-12 16:44] Natim commented on #60
if you think so, it works for me :+1:

[2016-02-19 12:32] almet commented on #25
I think that this would be a project built on top of kinto.py, closing for now.

[2016-02-19 12:33] #25 closed

[2016-03-07 11:37] lavish205 commented on #36
need further information to work on this bug. @leplatrem

[2016-03-07 12:12] leplatrem commented on #36
I guess we could start by adding a pair of logging messages when a request is sent and its response received.

[code]

So that when you write a command-line client, you have some output that explains what is going on.

I guess some of this feature can be accomplished by setting the log level of the `requests` library. See http://stackoverflow.com/questions/10588644/how-can-i-see-the-entire-http-re

[2016-03-07 12:13] leplatrem commented on #36
Then we can also imagine having high level INFO messages like:

[code]

[2016-03-14 09:54] lavish205 commented on #29
@almet can you provide more information regarding this?

[2016-03-14 09:59] Natim commented on #29
In every kinto client methods you have the ``safe`` and ``last_modified`` parameter.

Most of the time, this value should be either the previous ``last_modified`` value of the record or the one for the collection or records.

This make sure that you do the action if the record didn't change in between (and let you handle race conditions)

It is the case [here for instance](https://github.com/Kinto

[2016-03-14 11:09] #55 closed

[2016-03-22 10:28] almet opened #67 "Tests should be refactored"
Some tests would benefit from a refactor. I'm mostly thinking about the logic contained in the `_get_or_create` private method, which is not directly tested but via its callers.

One solution here would be to create a base class with the behaviours we want to test and then derive multiple classes with the different inputs (bucket, collection and record).

[2016-03-23 01:57] vsham20 commented on #29
@almet @Natim I want to work on this bug.
As I can understand I have to only change `last_modified` parameter to `if_match`, am I right?

[2016-03-23 08:54] Natim commented on #29
Yes that's about it.

[2016-03-23 14:42] Natim commented on #29
See #68

[2016-04-19 16:08] Sayli-Karnik commented on #67
I could work on this..So BucketTest, CollectionTest ,RecordTest must extend a common base class. And  are we just dealing with _get_or_create or all methods?

[2016-05-11 13:43] leplatrem opened #70 "Add a server info method"
In order to retrieve the rool URL response.

Like kinto-client.js https://github.com/Kinto/kinto-client/blob/master/src/base.js#L203-L214

[2016-05-12 12:57] #29 closed

[2016-05-12 14:11] Natim commented on #46
this is taking cared of in #49

[2016-05-12 14:11] #46 closed

[2016-05-12 14:12] Natim commented on #41
This has been covered with the ``create_if_not_exists`` helper.

[2016-05-12 14:12] #41 closed

[2016-05-12 14:15] Natim commented on #53
What do you mean a clear message to the user?

Raise a ``BackoffException`` if the backoff time is not spend yet?

[2016-05-12 14:15] Natim commented on #54
Something like logging an warning?

[2016-06-01 14:47] Natim opened #73 "if_not_exists for batch.create_* doesn't work"
The if_not_exists behavior doesn't ignore the 412 if they happen in a batch.

[2016-06-01 14:47] Natim commented on #73
A work-around is to use safe=False for now but it is not exactly the same behavior.

[2016-06-23 15:36] leplatrem opened #77 "Add a way to retrieve current collection timestamp"
`collection_timestamp()` method ?

Currently the `list_records` method does not provide the headers obtained.

The (only?) way of doing it presently is:

[code]

[2016-06-23 19:11] almet commented on #77
I remember that at some point I did pass a second argument to the list_records method to get the timestamp, which changed the signature of the method return value.

I am not a fan of the solution as I generally prefer to have consistent APIs but that has the advantage of not doing a request twice.

[2016-06-23 19:12] almet commented on #77
(this never made it upstream as it was for the signer when we were pushing to a remote machine over http,  which is not the case anymore with the new signer design)

[2016-06-30 09:29] leplatrem commented on #36
The logger should be pluggable (e.g. `client.logger` instead of global `logging.getLogger()`)

[2016-06-30 09:35] leplatrem opened #78 "(idea) A StrictClient that verifies collection signatures"
Provided a public key, the client could verify signatures during `get_records()` calls...

[2016-06-30 09:41] Natim commented on #36
I though that the way to go was to configure the logging module and then every piece of code could use logging.getLogger() to grab a new one.

Do you have a specific use-case in mind?

[2016-07-09 14:12] leplatrem commented on #36
I just thought it was going to be easier to substitute with some custom «handler» with such simple hook...

[2016-07-11 18:44] almet commented on #36
I would implement hooks if possible rather than specific logging, as it could be useful for different use cases.

[2016-07-27 12:35] Natim commented on #77
I made an implementation here: https://github.com/Kinto/kinto-http.py/pull/80

[2016-07-28 08:07] leplatrem opened #82 "Add «if exists» option to delete methods"
Use case:
[code]

Would become:
[code]

[2016-08-04 14:44] Natim commented on #77
Closed with #81

[2016-08-04 14:44] #77 closed

[2016-08-18 20:07] leplatrem opened #87 "Add methods to CRUD groups"

[2016-08-18 22:15] leplatrem opened #88 "clone() error"
[code]

[code]

[2016-08-31 04:44] mansimarkaur commented on #88
I'm interested in working on this as my first contribution. @Natim and @n1k0 , can you please help me get started with it?

[2016-08-31 08:38] Natim commented on #88
Hello @mansimarkaur,

In the case of a clone, we want to reuse everything from the source session and just override new parameters, so we should not have any AttributeError since the info is already available in the source session.

I think the best course of action is to write two or three test to reproduce the error.

- A test to make sure we can change only server_url
- A test to make sure we c

[2016-08-31 23:44] sahildua2305 opened #89 "Adding local CONTRIBUTE file in repo to facilitate beginners"
I believe that having CONTRIBUTE file in the repo will help beginners getting started easily. I myself found it a bit hard to get everything working specially when I had to move between two links ([this](https://kinto.readthedocs.io/en/stable/community.html#how-to-contribute) and [this](https://kinto.readthedocs.io/en/stable/tutorials/install.html#from-sources)) continuously.

[2016-09-01 08:23] Natim commented on #89
That's a great idea, would you start a PR so that we can iterate on its content?
You can add the title and the frame of the document and I will fill the blanks if any.

[2016-09-01 08:47] sahildua2305 commented on #89
Yes, I'll start a PR later today.

[2016-09-01 08:48] Natim commented on #89
Great thanks :)

[2016-09-02 21:38] mansimarkaur commented on #88
@Natim A test to make sure we cannot specify a session while using clone  will always pass because the clone method uses setdefault to set the session key.
An attribute error is raised only if server_url or auth or both are being changed.
I think we need to check if session has been specified or not and then raise an error if it has been specified. Please, correct me if I'm wrong.

[2016-09-06 08:32] Natim commented on #88
You are correct.

[2016-09-06 23:04] mansimarkaur commented on #82
I'd like to work on this bug.

[2016-09-07 07:41] Natim commented on #82
Yes feel free to contribute on it :)

[2016-09-07 07:46] Natim commented on #88
Fixed in 271c482

[2016-09-07 07:46] #88 closed

[2016-09-08 08:24] #82 closed

[2016-09-09 19:46] mansimarkaur commented on #87
I'd like to work on this issue. Please explain me more about what groups are. I have already gone through the documentation. I'm confused if there's such a hierarchy or not - records, collections, groups, buckets?

[2016-09-09 19:56] glasserc commented on #87
I think groups are a permissioning abstraction, and specifically a way to define sets of users. See http://kinto.readthedocs.io/en/stable/api/1.x/groups.html. It seems like groups are in a separate hierarchy -- buckets, collections, and records for data, and groups and principals for permissions.

[2016-09-10 08:37] leplatrem commented on #87
Groups are at the same level as collections (ie. under bucket). They don't have child objects, but stores permissions and attributes as usual... We should thus exactely mimic what was done for collections IMO :)

[2016-09-13 10:56] mansimarkaur opened #96 "if_not_exists argument not required in the delete_*s methods."
@leplatrem  : When we do a DELETE HTTP request on a single group that does not exist, the server returns a 404 (which is interpreted as an error). However, when we do a DELETE on a plural endpoint (like here /buckets/x/groups), the server returns an empty list if no record were deleted.
 So, `if_not_exists` argument is not needed for plural endpoints.

[2016-09-15 18:52] #87 closed

[2016-09-16 08:37] #96 closed

[2016-09-17 17:42] lavish205 commented on #89
@sahildua2305 If you are not working on this shall I create this file and create a PR for it.

[2016-09-17 17:45] sahildua2305 commented on #89
@lavish205 Fixed via #90

[2016-09-17 17:45] #89 closed

[2016-09-17 18:58] sahildua2305 commented on #67
@Sayli-Karnik Can I take this up, in case you're not?

@almet @Natim Can I have more information about this issue?

[2016-09-18 22:21] mansimarkaur commented on #54
I'd like to work on this. Deprecation headers for what exactly - some endpoints, URI's, or something else?

[2016-09-19 13:58] leplatrem commented on #54
If the response headers contains a `Alert`, the python client could show a warning with the information contained in the header value.

See https://kinto.readthedocs.io/en/stable/api/1.x/deprecation.html

[2016-09-19 14:06] leplatrem commented on #67
To be honest I'm not very convinced by the proposition of a «base class», but we can try to see how it goes.

The idea is to go through every buckets/collections/groups/records client tests and see how much code is «repeated» between them. If there is a lot, let's go with the base class approach.

Let us know what you find out ;)

[2016-09-19 14:07] leplatrem commented on #53
Yes, raise a `BackoffException` with the number of seconds specified by the server.

See https://kinto.readthedocs.io/en/stable/api/1.x/backoff.html

[2016-09-19 15:46] zeddmaxx commented on #67
Hi all
This looks very interesting.
I would like to contribute to this, I hope I can.

[2016-09-19 18:57] almet commented on #67
Well, if you get the thumbs up from @sahildua2305 , I believe you can go ahead and take it!

[2016-09-19 19:35] sahildua2305 commented on #67
Sure @zeddmaxx! Go ahead. It's all yours.

[2016-10-03 09:48] leplatrem opened #100 "Patch methods are not documented in README"
* patch_bucket()
* patch_collection()
* patch_group()
* patch_record()

[2016-10-04 12:44] leplatrem opened #101 "update_group is not documented"

[2016-10-06 13:52] sunakshi96 commented on #100
Hii
Can I please know what are the patch methods

[2016-10-06 14:00] Natim commented on #100
For instance : https://github.com/Kinto/kinto-http.py/blob/master/kinto_http/__init__.py#L230

[2016-10-06 20:40] mansimarkaur commented on #54
I'm unable to figure out a way to get the `Alert` response header as in how do I generate a deprecation header?

[2016-10-07 07:51] Natim commented on #54
You can use the config for that: http://kinto.readthedocs.io/en/stable/configuration/settings.html#backoff-indicators It is about the EOS config parameters.

[2016-10-09 03:08] gabisurita commented on #101
'update_collection' is not documented as well. I would like to work on this issue! :)

[2016-10-10 04:54] sunakshi96 commented on #100
Hey
I would like to work on this issue.

[2016-10-10 08:41] leplatrem commented on #100
Nice it's all yours!

Contrary to `PUT` which replaces the existing data, a `PATCH` will merge the data sent with the data present on the server. Example: https://kinto.readthedocs.io/en/stable/api/1.x/records.html#updating-a-record

In this library we offer both methods, but only one is documented :)

[2016-10-10 08:42] leplatrem commented on #100
Oops, sorry! I hadn't see that @gabisurita had already worked on it...

[2016-10-10 08:42] Natim commented on #100
See https://github.com/Kinto/kinto-http.py/pull/102

[2016-10-10 08:54] leplatrem commented on #54
You can also use a deprecated parameter on a plural endpoint (here `_to=1`)
[code]

[2016-10-10 16:40] gabisurita opened #103 "Add support to attachments plugin"
I'm not sure if supporting other plugin is in the scope of the Python client, but I think it would be useful to have attachments support.

My idea is to do this through an argument "files" on create, update and patch methods.

It would also be good to raise an appropriate exception message if the server doesn't support the plugin.

[2016-10-11 08:59] Natim commented on #103
Yes it would be great. Not that we added the support for [kinto-http.js](https://github.com/Kinto/kinto-http.js/pull/115)

[2016-10-14 10:19] #100 closed

[2016-10-14 10:19] #101 closed

[2016-10-14 16:04] leplatrem commented on #103
Why not!

Maybe we should start by draft some *dream code* here to see how it would like.

For info, we add some python code here: https://github.com/Kinto/kinto-attachment/blob/master/scripts/upload.py

[2016-10-15 10:42] Sayli-Karnik commented on #53
Can I work on this one?

[2016-10-17 09:44] Natim commented on #53
Yes please

[2016-10-17 11:21] leplatrem commented on #53
You have to read the header value when the response is received (see `session.py`)

[2016-10-28 11:00] leplatrem opened #107 "Should not raise "Not found" if error response is 401"
From client:

[code]

From server:

[code]

[2016-10-28 11:01] leplatrem commented on #107
Same goes for 403:

[code]

[2016-10-30 10:31] prabhakar267 commented on #107
@leplatrem  I would like to take this issue

[2016-10-30 20:14] Natim commented on #107
Yes please go ahead.

[2016-10-31 14:32] Natim opened #108 "CLI tool to move collection records from a collection to another."
The thing is to make sure to create all the record from the lower `last_modified` record to the greatest one so that we keep the exact same `last_modified` value for the records.

The syntax could be:

[code]

- [ ] Fails if the destination collection already exists.
- [ ] All the records should be created keeping their original data
- [ ] An option --with-permissions can be set to also copy the r

[2016-10-31 14:41] Natim commented on #108
This remembers me of https://github.com/Kinto/kinto-signer/blob/master/kinto_signer/updater.py#L226-L290

[2016-11-03 00:09] sahildua2305 commented on #67
@zeddmaxx Any progress on this?

[2016-11-03 00:11] sahildua2305 commented on #53
@Sayli-Karnik are you still working on this?

[2016-11-03 00:15] sahildua2305 commented on #36
@leplatrem can you please explain a bit regarding the hooks? What exactly do we want to do with this one?

[2016-11-03 08:41] leplatrem commented on #36
I'm not sure about hooks.

I would be in favor of something very simple: using Python `logging`:

[code]

[2016-11-03 09:30] sahildua2305 commented on #36
@leplatrem Sounds good! I'd like to work on this. Please assign this issue to me 😄

[2016-11-11 10:09] #36 closed

[2016-11-11 18:23] sahildua2305 commented on #67
Accounting to no response from you, @zeddmaxx, I'd like to claim it back.

/cc @almet @leplatrem

[2016-11-11 19:26] sahildua2305 commented on #67
@leplatrem thanks!

Btw, do we want to see how much code is repeated between corresponding tests for buckets/collections/records/groups? Or separately for Bucket tests and then for collection tests and so on?

[2016-11-11 19:33] glasserc commented on #67
I think @almet's original goal was to share code that corresponds to the same test in buckets, collections, records, and groups. But any kind of DRYing up or refactoring could potentially be beneficial.

[2016-11-13 23:14] sahildua2305 commented on #67
@glasserc I noticed that there are a lot of tests in Buckets / Collections / Records / Groups which test the same functionality. For example - there are tests to verify that `create_xxx` and `update_xxx` issues `put` http request and that `patch` issues `patch` http request.

And that I think is intentional and necessary to make sure we have good test coverage. Making a base class and calling thes

[2016-11-14 13:35] leplatrem opened #112 "Add support of history plugin"
See https://github.com/Kinto/kinto-http.js/#listing-bucket-history

* By bucket
* Filtrable
* Sortable

[2016-11-14 15:33] glasserc commented on #67
I don't have a strong feeling about it, but I'm not as knowledgeable in this area as @leplatrem and @almet. If we think it's a bad idea, let's close the issue.

[2016-11-25 09:23] leplatrem opened #115 "Extract key `data` on batch body?"
While debugging something else, I found out that a request forged by kinto-http contained an extra key `data`.

 `request.body` (on the server side):

[code]

[2016-11-29 14:28] Natim opened #116 "No JSON Could be decoded"
While creating a collection and you don't have the permission to do so, you might endup having:
``File "kinto_http/session.py", line 84, in request message = '{0} - {1}'.format(resp.status_code, resp.json())``

[2017-03-11 19:13] gabisurita opened #119 "Collection keyword is required on collection_update"
Update collection fails with omitted collection argument.

[code]

Raises:
[code]

Instead you have to do

[code]

I guess we should fix that to make collections compatible with other resources.

[2017-03-17 08:24] Natim commented on #53
This is more complex than it looks, I tried to fix @Sayli-Karnik tests but the behavior with an exception is quite confusing, because you should raise an exception on the next request not the one that gave you the Backoff header, which means that we need to keep track of them.

[2017-03-17 10:20] #115 closed

[2017-03-21 15:29] #53 closed

[2017-03-25 02:19] gabisurita opened #124 "Print on client raises exception"
[code]

[2017-05-02 10:52] leplatrem opened #125 "Provide custom headers on methods"
I want to provide custom JSON-merge headers on a call to `client.patch_record()` but apparently I can't provide them.

It would better to accept custom headers like on the JS client

[2017-05-02 13:38] glasserc commented on #125
Having gone through the JS client recently, I'm really nervous about the proliferation of options like `headers`, `retry`, `safe` etc. on every single method. I'd much rather just add something for this one use case, like `client.patch_record(JSONMerge(a="new a field"))` and `client.patch_record(JSONPatch(operations))`.

[2017-05-04 01:08] gabisurita commented on #125
What about a `merge`attribute instead of passing raw headers?

[2017-05-05 10:24] leplatrem opened #126 "Add a way to specify retry option with cli_utils"
Current:
[code]

Suggestion #1:
[code]

Suggestion #2:

With new CLI option like `python main.py --retry=3`

[code]

[2017-05-09 15:22] leplatrem opened #127 "Crash when using retry"
[code]

[2017-05-09 16:40] leplatrem opened #128 "Bucket collection info missing in log message"
When bucket and collection are specified in client

[code]

[2017-05-10 09:04] leplatrem opened #129 "Bad update behaviour with retry = 1"
[code]
Fails with 412 !!!

[2017-05-10 09:21] #129 closed

[2017-05-10 09:35] #127 closed

[2017-05-10 09:52] leplatrem commented on #119
There are indeed some inconsistencies accross the `update_*` methods.

My suggestion would be to always keep `data` as the first argument. This way the object can be passed without kwargs:

[code]

[2017-05-10 09:58] #128 closed

[2017-05-10 10:06] #126 closed

[2017-05-10 10:19] Natim commented on #116
This appens if the ELB is not returning a JSON response.

[2017-05-10 10:19] leplatrem opened #136 "Add pages argument to paginated methods"
Currently there is no way to only return one page. The client follows `Next-Page` until it's gone through everything.

I suggest we do like `kinto-http.js` with a `pages` argument, defaulted to 1 if limit is specified.

Note that when limit is not specified in arguments (but defined on the server for example), we would follow every pages (`pages = float('inf')`)

[2017-05-10 10:20] #124 closed

[2017-05-10 10:24] leplatrem commented on #125
yeah or something like `client.patch_record(jsonmerge=payload)` or `client.patch_record(payload, jsonmerge=True)`.

If you don't agree, then maybe I would just prefer `client.jsonmerge_record()` and `client.jsonpatch_record()`.

How would that one work?

[2017-05-10 10:45] #116 closed

[2017-05-10 10:52] #136 closed

[2017-05-10 10:54] #107 closed

[2017-05-10 12:56] Natim commented on #119
What about permissions? should it be after data in that case?

[2017-05-10 13:00] Natim commented on #119
I think the bug is that update_collection is the only one that put data as first argument.
Implementing what you propose is confusing with other methods.

Instead we could have:

[code]

[2017-05-10 13:01] Natim commented on #119
Actually ``create_record`` and ``update_record`` also behave like ``update_collection``

[2017-05-10 13:28] Natim commented on #119
I did a proof of concept but it feels strange.

Previously:
[code]

[2017-05-10 13:52] Natim commented on #119
I implemented both solutions in #141 and #142 tell me what you'd rather use.

[2017-05-10 14:46] leplatrem commented on #119
Hum, I wouldn't apply this to `create_()` methods. I like how it is with `client.create_bucket('bid')`

Then couldn't we just change `update_bucket()` and `update_group()` to have data as first argument then?

[2017-05-11 13:38] glasserc commented on #119
I think `create_*` should be consistent with `update_*`. I don't see why `record = {"id": "foo"}; record["flavor"] = "strawberry"; client.create_record(record)` is any different from `record = client.get_record(id="foo"); record["flavor"] = "strawberry"; client.update_record(record)`.

[2017-05-11 17:39] Natim commented on #119
Fixed with #143 and kinto-http.py 8.0.0

[2017-05-11 17:39] #119 closed

[2017-05-11 17:41] Natim commented on #78
Here is a implementation that we use in a lambda and that we could build on top of https://github.com/mozilla-services/amo2kinto-lambda/blob/master/lambda.py#L97-L145

[2017-05-18 08:19] leplatrem opened #145 "Add support for batch read operations"
Currently it only supports write operations, so it is not possible to do the retrieval of information inside a batch.

[code]

[2017-05-23 09:31] Natim opened #147 "Add context on KintoException to tell which request failed. (especially in a batch)"
Refs https://github.com/Kinto/kinto-wizard/issues/25

On KintoException after the batch, we need to have more informations
```kinto_http.exceptions.KintoException: (KintoException(...), "403 - {'errno': 121, 'error': 'Forbidden', 'code': 403, 'message': 'This user cannot access this resource.'}")```

[2017-05-23 17:42] willkg opened #149 "trove classifiers (and thus pypi meta information) need to be updated"
https://github.com/Kinto/kinto-http.py/blob/8fc639e0cab239d5c9de0c8e77e4d37f02c3df65/setup.py#L45

https://pypi.python.org/pypi/kinto-http/

That suggests kinto-http works with Python 2 which it doesn't for 8.0+.

This issue covers updating the trove classifiers and pushing a new release which will update the meta information at the bottom of the PyPI page.

[2017-05-25 08:13] #147 closed

[2017-05-25 08:14] leplatrem commented on #145
Fixed in #146

[2017-05-25 08:14] #145 closed

[2017-05-25 08:55] #149 closed

[2017-05-29 09:53] leplatrem opened #152 "Add kinto-http.py in User-Agent request header"
Currently it only contains `python-requests/<version>`

[2017-05-29 10:21] leplatrem opened #153 "Missing context from batch exception"
[code]

Ref #147

[2017-05-30 14:25] #153 closed

[2017-06-20 13:15] leplatrem opened #156 "Compatibility of `if_not_exists` option with create* methods in a batch"

[2017-07-11 09:31] jacoblukose commented on #152
Hey leplatrem , would like to work on this . :)

[2017-07-11 09:34] Natim commented on #152
Hi @jacoblukose ok thanks :)

[2017-07-12 05:32] jacoblukose commented on #152
Can I know the naming conventions for the headers ?

[2017-07-12 09:02] Natim commented on #152
I guess the name of the program and its version are fine.

Something like: `kinto-http.py/2.1.1 requests/2.3.2 python/3.6.1`

The User-Agent string format is currently specified by [section 5.5.3 of HTTP/1.1 Semantics and Content](https://tools.ietf.org/html/rfc7231#section-5.5.3). The format of the User-Agent string in HTTP is a list of product tokens (keywords) with optional comments. For exampl

[2017-07-14 05:47] jacoblukose commented on #108
Would like to work on this :)

[2017-07-17 04:44] jacoblukose commented on #108
Does this functionality have to be implemented using `cli_utils.py` ?

[2017-07-17 09:34] Natim commented on #108
Yes I guess it would be better.

[2017-07-17 09:36] #152 closed

[2017-07-17 09:44] Natim commented on #108
Note that kinto-wizard already allow this kind of things.

[code]

[2017-07-17 09:46] Natim commented on #108
Maybe in order to close that pull-request documenting how to use kinto-wizard to achieve this in the README could be sufficient.

[2017-07-17 14:55] glasserc commented on #152
Closed by #157.

[2017-07-18 18:48] glasserc commented on #156
Actually, this is a duplicate of #73.

[2017-07-18 18:48] #156 closed

[2017-07-18 19:02] glasserc commented on #73
This is going to be pretty tricky. The current way `if_not_exists` is implemented is:

- Make the request with if-none-match
- If the request succeeded, return the response.
- If you got a 412, then it existed. The real value was returned, but not its permissions. Fetch its permissions.

For this to work in a batch, the request would have to enqueue some kind of post-request processing, and that p

[2017-08-18 16:40] glasserc opened #161 "Support patching permissions without patching data"
We accidentally supported this, but it wasn't covered by any tests, and we are removing it in #158.

[2017-08-23 17:23] lanpian opened #162 "kinto_http api can use https ?"
kinto_http api can use https ?

[2017-08-23 17:33] glasserc commented on #162
Yes, the Kinto client doesn't care about the underlying transport layer. Just pass the server URL, whether http or https, as the `server_url` argument to `Client`.

[2017-08-23 17:33] #162 closed

[2017-08-25 00:00] lanpian opened #163 "add suport of raspberry pi python 2.7"
kinto_http can run on raspberry pi of python 2.7 ?

[2017-08-25 04:08] gabisurita commented on #163
@lanpian Python 2 support was dropped on [8.0.0 release](https://github.com/Kinto/kinto-http.py/blob/master/CHANGELOG.rst#800-2017-05-11), so you can only use kinto-http < 8.0.0 with Python 2.7. Although, I would recoomend you to install Python 3 on your RaspBerry.

[2017-08-25 07:36] #163 closed

[2017-10-24 13:41] leplatrem opened #164 "Functional tests broken ?"
https://travis-ci.org/Kinto/kinto-http.py/jobs/292079258

[2017-10-24 13:43] leplatrem opened #165 "Add support for the kinto-elasticsearch plugin"
If capability is available:

[code]

[2017-11-01 21:15] glasserc commented on #164
I wasn't able to reproduce it locally, and "restarting" the test caused it to succeed. I think travis has been having a rough month or so..

[2017-11-01 21:15] #164 closed

[2018-02-01 16:02] leplatrem opened #167 "409 responses are not retried"
When the server has a race condition / unicity error, it returns a 409 response.

Currently, kinto-http only retries when server response status code is >= 500.

It should also retry for 409 — not the other 4XX as suggested by @glasserc

[2018-02-05 10:45] leplatrem opened #169 "Retry 507 (indicating quota violation) ?"
This might be outside the scope of this PR, but maybe 507 (indicating quota violation) should also not be retried?

As commented by @glasserc in #168

[2018-02-05 10:47] #167 closed

[2018-02-07 10:32] leplatrem opened #171 "Crash in patch methods in batch requests"

[2018-02-07 14:35] #171 closed

[2018-04-04 14:00] Natim opened #174 "Where am I supposed to put custom headers?"
I tried `Client` constructor, update_record method or even Session but with no luck.

I was trying to override the User-Agent
[code]

[2018-04-04 15:32] glasserc commented on #174
We never added a generic `headers` parameter to everything because of our experience with kinto-http.js, where it serves multiple purposes that are difficult to untangle. See the discussion on https://github.com/Kinto/kinto-http.py/issues/125. My stance on the topic is still that I'd much rather see specific options for specific use cases. For instance, maybe we should put a `user_agent` option on

[2018-05-03 09:19] leplatrem opened #175 "Expose methods for paginated lists"
Currently there is no way to consume the content of individual pages using `get_records()`.

We could add a generator `get_paginated_records()` that would yield individual pages...

[code]

[2018-11-06 05:35] p-murli commented on #174
Hey, I'm a newbie and I'd like to work on this. Can I take this up and could you give me a few pointers and help on how to get started

[2018-11-06 09:09] Natim commented on #174
Yes please do :+1:

[2018-11-06 09:38] leplatrem commented on #174
@Natim ?

[2018-11-06 10:30] Natim commented on #174
Sorry I missed that part @leplatrem :confused:

I second what @glasserc said on the subject.
So I would start by adding a user_agent parameter to the client.__init__ function that would go all the way to overriding the user_agent.

Maybe we can also check if the parameter is a callable in case we want to build the user_agent for each request.

In terms of development flow:
- Start by forking and c

[2018-11-12 15:59] Natim opened #187 "json encoding of querystring parameters fails"
For instance:

/v1/buckets/bid/collections/cid/records?in_id=["be503c41-3aa6-42e1-9214-0d00ee0ce9ac","51f65e45-b17c-4dc1-970f-1da8f219824f","b4bb1714-cfe3-4cde-9903-66c47b4ce2f2"]&_sort=-published_date&max_published_date="2018-11-12T15:52:00"&language=fr&_limit=100

Doesn't work while:

/v1/buckets/bid/collections/cid/records?in_id=be503c41-3aa6-42e1-9214-0d00ee0ce9ac,51f65e45-b17c-4dc1-970f-1da8f

[2018-11-12 16:01] leplatrem commented on #187
what *Doesn't work* mean?

[2018-11-12 16:03] Natim commented on #187
Instead of return 3 recipes, it returns only the one with ID 51f65e45-b17c-4dc1-970f-1da8f219824f

[2018-11-12 16:14] Natim commented on #187
According to the documentation, the `in_` keyword doesn't seems to support the "JSON" array form which is the case for `contains_` and `contains_any_`

https://kinto.readthedocs.io/en/stable/api/1.x/filtering.html#multiple-values

[2018-11-12 17:16] leplatrem commented on #187
@glasserc do you think `_in` should support a JSON encoded array?

[2018-11-12 18:30] glasserc commented on #187
Yes, I would expect `in_` to behave the same as `contains_` (use JSON-encoded arrays to represent multiple items). The failure mode that @Natim describes is very strange.

[2018-11-13 07:28] #187 closed

[2018-11-28 01:48] fpiedrah commented on #175
I would like to take this task, is this one still available?

To see if I'm getting the point: The idea is to have a generator that returns a page in each iteration, the _limit parameter will be the last page you'll want to get and will be optional.

[2018-11-28 14:55] Natim commented on #175
Not really, the `_limit` parameter is the number of items per page.

[2018-12-03 15:52] Natim opened #191 "Add black support"
[Black](https://github.com/ambv/black/) is an auto formating tool that can handle Python 3.6 compatible code.

Refs https://github.com/Kinto/kinto/pull/1799/files

[2018-12-05 15:55] #175 closed

[2019-01-23 08:17] #108 closed

[2019-08-26 21:18] say-yawn opened #213 "Question/Enhancement on get_record"
From my understanding here
https://github.com/Kinto/kinto-http.py/blob/master/kinto_http/__init__.py#L703
it seems `client.get_record()` is expecting the id of the record which is auto-generated from the Remote Settings. I was wondering if:
1. Is there a way to set the id value of a new record being created?
2. If not, is there a filter for record function (filter by specific value in the property

[2019-08-26 21:51] Natim commented on #213
Yes if you set the id when creating the record with a POST or use a PUT on a record ID you can choose your own id.

[2019-08-27 07:07] Natim commented on #213
With PUT yes that's correct.

[2019-08-27 07:59] leplatrem commented on #213
True. You can delete and recreate another one. The clients will pick it up.

[2019-08-27 16:22] #213 closed, assigned to nobody

[2019-09-10 15:21] #112 closed

[2020-02-23 22:37] dstaley commented on #191
@Natim I'm assuming this is already done?

[2020-02-24 21:31] glasserc commented on #191
It seems like we `black`ened the codebase in #204 but it doesn't seem like it's actually ensured e.g. as part of CI. See e.g. https://travis-ci.org/Kinto/kinto-http.py/builds/654622541. I feel like enforcing it is really a requirement for this issue.

[2020-02-27 22:07] #191 closed

[2020-09-24 05:23] dependabot-preview[bot] opened #234 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/Kinto) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/Kinto/update-logs/48545773).

[2020-09-28 05:23] #234 closed

[2021-03-11 00:44] bengwie commented on #174
This issue seems to be open for few years. I am new and would like to give it a try.

[2021-03-11 01:57] bengwie commented on #174
Never mind, it looks like this has been addressed by https://github.com/Kinto/kinto-http.py/commit/d9fc420955ce65aa6590f5e2be59ef7d571b0782 .

[2021-03-11 03:08] bengwie commented on #174
I think I have completed the fix. I need to test it locally and have some questions in how to do that. Do we have slack channel or somewhere that I can get live help? Thanks in advance.

[2021-03-15 17:57] bengwie commented on #54
Can I pick up this fix as well?

[2021-04-16 08:36] leplatrem commented on #54
CLosed by #251

[2021-04-16 08:36] #54 closed

[2021-11-02 14:13] #165 closed

[2021-11-02 14:14] #78 closed

[2021-11-02 14:30] matt-boris opened #265 "Add asynchronous support"
A nice enhancement would be to have an async Kinto client.

[2021-11-02 15:33] leplatrem opened #266 "Migrate from TravisCI to Github Actions"
- [x] Remove TravisCI config
- [x] Move current jobs Github Actions
- [x] Update badge

[2021-11-02 17:15] leplatrem commented on #266
Fixed in #267

[2021-11-02 17:15] #266 closed

[2021-11-04 21:17] matt-boris opened #269 "Fix Coveralls coverage reporting"
Since https://github.com/Kinto/kinto-http.py/commit/5e1bd4ce02406159615a023322cbf9b547ea188d (move to GitHub Actions), coverage shows it dropped down to `0%`.

https://coveralls.io/github/Kinto/kinto-http.py
<img width="1108" alt="Screen Shot 2021-11-04 at 5 19 38 PM" src="https://user-images.githubusercontent.com/92693437/140421655-e74c6563-740a-4233-b679-9014f2d12de4.png">

[2021-11-05 13:21] matt-boris commented on #269
<img width="513" alt="Screen Shot 2021-11-05 at 9 21 34 AM" src="https://user-images.githubusercontent.com/92693437/140516766-f1fcac06-58e5-4885-9454-1e5ff90ee7d8.png">

[2021-11-05 13:21] #269 closed

[2021-11-16 19:12] #265 closed

[2022-07-29 07:38] tejasshah-MK opened #285 "FIltering of numeric-string records dont work."
When we use the get_records functions with filtering, if the the value we want to filter out in the key value pair is string but has numbers only, the code doesnt work out. it treats that string as integer. so for eg we want to filter out the record with "status":"2", the code doesnt work.
![image](https://user-images.githubusercontent.com/110220952/181702972-1476faa7-768d-420e-961e-8dc94fe2957a.p